<header>

    <h1 class="site-title">THIS EXISTS NOW</h1>

    <nav class="navbar">
      <ul class="navlist">
        <li class="navitem navlink active"><a href="/">Home</a></li>
        
        <li class="navitem navlink active"><a href="/artblog">Art Blog</a></li>
        
        <li class="navitem navlink active"><a href="/comission">Comission Me?</a></li>
        
        <li class="navitem navlink active"><a href="newsletter">Newsletter</a></li>
      </ul>
    </nav>
  </header>