
  <body>
    <!--Read in information for this page from a JSON file
    containing an array where each element contains the following
    file: path to image
    title: tile of image
    date: date
    entry: blog post for image
    Journal Entry:--> 
    <div id="base-container">

        <h1>{{title}}</h1>
        <img src="{{file}}" alt="..."/>

    </div>

    <div class="journal-container" class="hidden">

      <h2>{{date}}</h2>
      <p>{{entry}}</p>

    </div>
  </body>