<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>THIS EXISTS NOW</title>
    <meta name="viewport" content="width=device-width, initial-scaled=1">
    
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    
    <link rel="stylesheet" href="/style.css" media="screen">

   <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

    <script src="main.js"charset="utf-8" defer></script>  

    <script src="header.js"charset="utf-8" defer></script>  

    <script src="images.js"charset="utf-8" defer></script>
    
    <script src="portfolio.js"charset="utf-8" defer></script>

    <script src="404.js"charset="utf-8" defer></script>
    
    <script src="home.js"charset="utf-8" defer></script>

    <script src="artblog.js"charset="utf-8" defer></script>
    
    <script src="comission.js"charset="utf-8" defer></script>
    
    <script src="newsletter.js"charset="utf-8" defer></script>

    <script src="index.js" charset="utf-8" defer></script>

  </head>

  {{{body}}}

</html>