
  <body>

    {{> header}}

    <h1>ABOUT</h1> <!--If I have time I should draw up a nice welcome sign-->
    <p>Hiya! 
      Thank you for being here. This is a nice first step for me to flex some
       of my assorted skills, as a wannabe programmer, artist, and overall
        creative mind. If I am lucky this is something I will be able to 
        maintain as a decent portfolio, to show my potential.

        Anyway please take a look around, and have a great day!

        -TEN
    </p>

    <h1>MOST RECENT ANNOUNCEMENT</h1> <!--If I have time I should make this into a partial, but for now this should do-->
    <p>
      T E S T I N G
      (this is sweet, these handlebars views are getting compiled as I save them!{without restarting the server!!!})
    </p>

    <h1>Find me on...</h1>
    <ul>
      <li id="link">Instagram</li>
      <li id="link">Twitter</li>
    </ul>

  </body>